### Příklad číslo 2. Máme tři tabulky dat (filmy,jejich hodnocení a uživatelé), které spojíme do jedné.

In [1]:
import pandas as pd

In [2]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']

In [3]:
users = pd.read_table('./users.dat', sep='::', header=None,
names=unames, engine='python')

In [5]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']

In [6]:
ratings = pd.read_table('./ratings.dat', sep='::', header=None,
names=rnames, engine='python')

In [7]:
mnames = ['movie_id', 'title', 'genres']

In [9]:
movies = pd.read_table('./movies.dat', sep='::', header=None,
names=mnames, engine='python')

In [10]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [11]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [12]:
movies[:5]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [13]:
type(ratings)

pandas.core.frame.DataFrame

In [14]:
data = pd.merge(pd.merge(ratings, users), movies)

In [16]:
data[0:5]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

In [17]:
data.ix[0]

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [18]:
mean_ratings = data.pivot_table('rating', index='title', columns='gender', aggfunc='mean') #průměrné hodnocení můžu a žen

In [19]:
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [20]:
ratings_by_title = data.groupby('title').size()

In [22]:
ratings_by_title[:10]

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [23]:
active_titles = ratings_by_title.index[ratings_by_title >= 250] #filmy, které mají více hodnocení

In [24]:
active_titles

Index([u''burbs, The (1989)', u'10 Things I Hate About You (1999)',
       u'101 Dalmatians (1961)', u'101 Dalmatians (1996)',
       u'12 Angry Men (1957)', u'13th Warrior, The (1999)',
       u'2 Days in the Valley (1996)', u'20,000 Leagues Under the Sea (1954)',
       u'2001: A Space Odyssey (1968)', u'2010 (1984)',
       ...
       u'X-Men (2000)', u'Year of Living Dangerously (1982)',
       u'Yellow Submarine (1968)', u'You've Got Mail (1998)',
       u'Young Frankenstein (1974)', u'Young Guns (1988)',
       u'Young Guns II (1990)', u'Young Sherlock Holmes (1985)',
       u'Zero Effect (1998)', u'eXistenZ (1999)'],
      dtype='object', name=u'title', length=1216)

In [25]:
mean_ratings = mean_ratings.ix[active_titles]

In [26]:
mean_ratings[0:5]

gender                                    F         M
title
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421

In [27]:
top_female_ratings = mean_ratings.sort_values(by='F', ascending=False)

In [28]:
top_female_ratings[0:5]

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415

In [30]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F'] #největší rozdíl mezi hodnocením můžu a žen

In [31]:
sorted_by_diff = mean_ratings.sort_values(by='diff')

In [32]:
sorted_by_diff[0:5]

gender                            F         M      diff
title
Dirty Dancing (1987)       3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)  3.254717  2.578358 -0.676359
Grease (1978)              3.975265  3.367041 -0.608224
Little Women (1994)        3.870588  3.321739 -0.548849
Steel Magnolias (1989)     3.901734  3.365957 -0.535777

In [35]:
sorted_by_diff[::-1][:5] #z druhého konce tabulky vidíme, které filmy se líbí nejvíce mužům, zatímco nejméně ženám

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787

In [36]:
rating_std_by_title = data.groupby('title')['rating'].std() #směrodatná odchylka hodnocení a její zobrazení

In [37]:
rating_std_by_title = rating_std_by_title.ix[active_titles]

In [41]:
rating_std_by_title.sort_values(ascending=False)[:50]

title
Dumb & Dumber (1994)                               1.321333
Blair Witch Project, The (1999)                    1.316368
Natural Born Killers (1994)                        1.307198
Tank Girl (1995)                                   1.277695
Rocky Horror Picture Show, The (1975)              1.260177
Eyes Wide Shut (1999)                              1.259624
Evita (1996)                                       1.253631
Billy Madison (1995)                               1.249970
Fear and Loathing in Las Vegas (1998)              1.246408
Bicentennial Man (1999)                            1.245533
Hellraiser (1987)                                  1.243046
Babe: Pig in the City (1998)                       1.239379
Wes Craven's New Nightmare (1994)                  1.237630
South Park: Bigger, Longer and Uncut (1999)        1.235380
Deuce Bigalow: Male Gigolo (1999)                  1.226337
Scary Movie (2000)                                 1.224024
Serial Mom (1994)                                  1.222715
Waterboy, The (1998)                               1.219092
Toys (1992)                                        1.218889
Thin Red Line, The (1998)                          1.215280
Last Temptation of Christ, The (1988)              1.214615
Patch Adams (1998)                                 1.213112
For Love of the Game (1999)                        1.211095
Armageddon (1998)                                  1.203439
Starship Troopers (1997)                           1.203245
Godzilla (Gojira) (1954)                           1.201918
Breaking the Waves (1996)                          1.196371
Bringing Out the Dead (1999)                       1.195862
Beavis and Butt-head Do America (1996)             1.190894
American Psycho (2000)                             1.190698
Nightmare on Elm Street, A (1984)                  1.189450
Pee-wee's Big Adventure (1985)                     1.185933
English Patient, The (1996)                        1.185842
Mars Attacks! (1996)                               1.185632
Dune (1984)                                        1.183067
Psycho (1998)                                      1.182797
Me, Myself and Irene (2000)                        1.179733
From Dusk Till Dawn (1996)                         1.178777
Ace Ventura: When Nature Calls (1995)              1.178748
eXistenZ (1999)                                    1.178568
Messenger: The Story of Joan of Arc, The (1999)    1.175603
Barbarella (1968)                                  1.173193
Spaceballs (1987)                                  1.171616
Return to Oz (1985)                                1.170718
Story of Us, The (1999)                            1.169675
Buffalo 66 (1998)                                  1.169112
Dirty Dancing (1987)                               1.168924
Titanic (1997)                                     1.167448
Robin Hood: Men in Tights (1993)                   1.167239
William Shakespeare's Romeo and Juliet (1996)      1.167051
Name: rating, dtype: float64

In [40]:
rating_std_by_title.sort_values(ascending=False)[-50:]

title
When We Were Kings (1996)                                              0.794921
Bicycle Thief, The (Ladri di biciclette) (1948)                        0.793040
Strangers on a Train (1951)                                            0.792596
Untouchables, The (1987)                                               0.792353
Creature Comforts (1990)                                               0.791691
One Flew Over the Cuckoo's Nest (1975)                                 0.789524
Paper Chase, The (1973)                                                0.789155
To Kill a Mockingbird (1962)                                           0.788858
Raise the Red Lantern (1991)                                           0.788693
In the Heat of the Night (1967)                                        0.787476
Stalag 17 (1953)                                                       0.787048
Where Eagles Dare (1969)                                               0.784717
Key Largo (1948)                                                       0.784175
Cool Hand Luke (1967)                                                  0.783379
Manchurian Candidate, The (1962)                                       0.782666
Marathon Man (1976)                                                    0.782067
Henry V (1989)                                                         0.780740
Godfather, The (1972)                                                  0.780721
Donnie Brasco (1997)                                                   0.780102
In the Line of Fire (1993)                                             0.778355
Guns of Navarone, The (1961)                                           0.778138
Big Sleep, The (1946)                                                  0.777230
Glory (1989)                                                           0.776240
Dial M for Murder (1954)                                               0.776005
Maltese Falcon, The (1941)                                             0.774760
Stand and Deliver (1987)                                               0.773147
Fugitive, The (1993)                                                   0.772759
Thin Man, The (1934)                                                   0.771528
Laura (1944)                                                           0.771215
Serpico (1973)                                                         0.767292
Grand Day Out, A (1992)                                                0.766319
Three Days of the Condor (1975)                                        0.765757
Schindler's List (1993)                                                0.763857
Verdict, The (1982)                                                    0.759659
Sting, The (1973)                                                      0.759405
Third Man, The (1949)                                                  0.757562
Bridge on the River Kwai, The (1957)                                   0.753874
Notorious (1946)                                                       0.751029
Usual Suspects, The (1995)                                             0.748822
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)    0.743607
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                          0.740924
Double Indemnity (1944)                                                0.740793
Hustler, The (1961)                                                    0.737298
North by Northwest (1959)                                              0.732515
Raiders of the Lost Ark (1981)                                         0.725647
Wrong Trousers, The (1993)                                             0.708666
Shawshank Redemption, The (1994)                                       0.700443
Great Escape, The (1963)                                               0.692585
Rear Window (1954)                                                     0.688946
Close Shave, A (1995)                                                  0.667143
Name: rating, dtype: float64